/* HEADER */

header {
    text-align: center;
    width: 100%;
    // max-width: 1500px;
    height: 100vh;
    background: linear-gradient(to bottom right, $thirdOverlay, $primaryOverlay, $secondaryOverlay), url(../../assets/hero.jpg) center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    .companyName {
        background: linear-gradient(to top, $thirdOverlay -10%, $primaryOverlay 90%);
        box-shadow: 0 .5px 5px $fourthColour;
        .logo {
            width: 100px;
            float: left;   
            margin: 10px 0 0 20px;
            display: block;         
        }
        h1{
            text-align: left;
            letter-spacing: 2px;
            margin: 0;
            padding-top: 20px;
            font-family: $primaryFontStyle;
            color: $thirdColour;
            text-shadow: 1px 3px 10px $fourthColour;
            font-size: 3.5rem;
        }
        p {
            margin: 0;
            padding-bottom: 30px;
            text-align: left;
            font-size: 1.8rem;
            color: $fourthColour;
            font-weight: bold;
            text-shadow: -1px 3px 10px $thirdColour;
        }
    }
}

.hero{
    div {
        h1{
            color: $thirdColour;
            text-shadow: 1px 3px 10px $fourthColour;
            font-size: 5rem;
            font-family: $primaryFontStyle;
            @media (max-width: 736px) and (max-height: 414px) {
                margin: 20px auto;
                font-size: 4rem;
            }
        }
        p.introText {
            display: block;
            width: 70%;
            margin: 80px auto;
            font-size: 2rem;
            letter-spacing: 1px;
            word-spacing: 1.5px;
            line-height: 2.5rem;
            font-family: $secondaryFontStyle;
            color: $thirdColour;
            text-shadow: 0 2px 2px $fourthColour;
        }
    }
}


label[for='slideIn'] {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    color: $fourthColour;
    text-shadow: 0 0px 1px $thirdColour;
    font-size: 3rem;
    font-weight: bold;
    transition: all .5s cubic-bezier(.5, .2, .2, 1.2);
    &:hover {
        top: 87%;
        text-shadow: 0 0px 10px $thirdColour;

    }
    img {
        max-width: 100%;
    }
}

#slideIn {
    display: none;
}

#slideIn:checked ~ #page1 {
    top: 10%;
    /* Landscape phone to portrait tablet */
    @media (max-width: 768px) {
        top: 20%;
    }
}
#slideIn:checked ~ label[for='slideIn'] {
    top: 5%;
    /* Landscape phone to portrait tablet */
    @media (max-width: 768px) {
        top: 15%;
    }
}

.fa-glass {
    color: white;
    text-shadow: 2px 2px 20px $fourthColour;
    font-size: 14px;
}

.glassIcon {
    color: $thirdColour;
    font-size: 15px;
    position: absolute;
    top: 95%;
    left: 43%;
    font-family: $secondaryFontStyle;

}











