/* ===== COCKTAIL DISPLAY ===== */

.cocktailDisplay {
    list-style: none;
    clear: both;
    width: 80%;
    height: 80vh;
    margin: 20px auto 0;
    padding: 0;
}

.cocktailDisplay li {
    width: calc(33.33% - 20px);
    height: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    background: $fourthColour;
    box-shadow: 0 0 3px $fourthColour;
    z-index: 10;
    position: relative;
    &:nth-child(3n + 0) {

        margin-right: 0;
    }

    .cocktailImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: opacity .3s ease;
        box-shadow: 0 0 20px $fourthColour;
        &:hover {
            opacity: .2;
        }
        &:hover ~ h2 {
            display: block;
        }
    }
    h2 {
        margin: 0;
        font-size: 2rem;
        color: $thirdColour;
        text-shadow: 0 1px 1px $fourthColour;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
        display: none;
    }
}
