
.popup {
    position: fixed;
    z-index: 30;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
    position: absolute;
    left: 30%;
    right: 30%;
    top: 5%;
    bottom: 5%;
    margin: auto;
    background: transparent;
    // border: 1px solid red;
    @media (max-width: 1040px) {
      left: 25%;
      right: 25%;
  }
  @media (max-width: 1000px) {
      left: 20%;
      right: 20%;
  }
  @media (max-width: 940px) {
      left: 15%;
      right: 15%;
  }
    }
    @media (max-width: 940px) {
        left: 20%;
        right: 20%;
    }
    @media (max-width: 768px) {
        left: 15%;
        right: 15%;
    }
    @media (max-width: 480px) {
        left: 10%;
        right: 10%;
    }


.recipe, .liquor  {
    width: 70%;
    margin: 0 auto;
    height: 80vh;
    margin-top: 20px;
    background:white;
    border-radius: 10px;
    opacity: 1;
}
.recipe {
  overflow-y: scroll;
}

h2.recipeTitle{
        font-family: $primaryFontStyle;
        letter-spacing: 1px;
        font-size:2.8rem;
        color: $primaryColour;
        padding: 30px 25px 25px 25px;

        @media (max-width: 1040px) {
            font-size:2.6rem;
            padding: 20px 20px;
        }
        @media (max-width: 940px) {
            font-size:2.3rem;
            padding: 20px 15px;
        }
        @media (max-width: 768px) {
            font-size:2.4rem;
            padding: 15px 10px;
        }
        @media (max-width: 480px) {
            font-size:2.2rem;
            padding: 10px 5px;
        }
    }
h2.liquorName {
    @extend h2.recipeTitle;
    padding: 0;
    margin-bottom:0;
    font-size: 2.2rem;

    @media (max-width: 1040px) {
        font-size:2rem;
    }
    @media (max-width: 940px) {
        font-size:1.8rem;
    }
    @media (max-width: 768px) {
        font-size:1.6rem;
    }
    @media (max-width: 480px) {
        font-size:1.4rem;
    }

}

.liquorBottle p{
    margin: 10px;
}

.closeBtn {
    background: none;
    border:none;
    font-size: 5rem;
    color: lighten($thirdColour, 10%);
    position: absolute;
    z-index:20;
    top:-25px;
    right: -60px;
    @media (max-width: 1040px) {
        font-size:4rem;
        top:-20px;
        right: -40px;
    }
    @media (max-width: 940px) {
        font-size:3rem;
        top:-15px;
        right: -30px;
    }
    @media (max-width: 768px) {
        font-size:2rem;
        top:-10px;
        right: -25px;
    }
    @media (max-width: 480px) {
        top:-5px;
        right: -20px;
    }
}

$card-size: 12rem;
$flip-duration: 0.3s;
// @media (max-width: 768px) {
//             $flip-duration:0s;
//         }
$perspective: 15rem;
$degree: 90deg;
.Card {
  margin: 1rem;
  display: inline-block;
  width: 50%;
  .Card-Front,
  .Card-Back {
    position: absolute;
    left:0%;
    right:0%;
    width: 100%;
    margin: 10px auto;
    text-align: center;
    height: 90vh;
    border-radius: 10px;
    background: linear-gradient(to bottom right, lighten($thirdOverlay, 85%), lighten($primaryOverlay, 85%), lighten($secondaryOverlay, 85%)), url(../../public/assets/hero.jpg) center;
    background-size: cover;
    background-repeat:no-repeat;
    overflow: hidden;
    
    p {
        font-size: 1.7rem;
        font-family: $secondaryFontStyle;
        text-align: center;
        text-decoration: none;
        padding: 0 20px;
        line-height: 1.2;
        span.liquorPrice {
            font-weight: bolder;
        }

        @media (max-width: 940px) {
            font-size:1.6rem;
        }
        @media (max-width: 768px) {
            font-size:1.4rem;
        }
        @media (max-width: 480px) {
            font-size:1.2rem;
        }
    }
  }
  a {
        font-size: 2rem;
        font-family: $secondaryFontStyle;
        color:$primaryColour;
        text-align: center;
        // padding: 5px;
        margin: 10px auto;
        &:hover {
            color: lighten($primaryColour,30%);
            text-decoration: none;
        }
        @media (max-width: 1040px) {
            font-size:1.8rem;
        }
        @media (max-width: 940px) {
            font-size:1.6rem;
        }
        @media (max-width: 768px) {
            font-size:1.4rem;
        }

    }
  .viewBtn {
    font-size: 1.6rem;
    font-weight: bold;
    position:absolute;  
    bottom: 40px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    width: 70%;
    padding: 10px;
    background: $primaryColour;
    color: $thirdColour;
    box-shadow: 0 -1px 3px $fourthColour;
    text-transform: uppercase;
    border: none;
    transition: color .3 ease;
        &:hover {
            color: $secondaryColour;
        }

        @media (max-width: 940px) {
            font-size:1.4rem;
        }
        @media (max-width: 768px) {
            font-size:1.2rem;
        }
        @media (max-width: 480px) {
            font-size:1.1rem;
        }

  }
  .Card-Front {
    z-index: 1;

    
    // Animations
    &.Card-Back-Flip {
      animation: back-flip-1 $flip-duration 1 forwards;
      @keyframes back-flip-1 {
        0% {transform: rotateY(0deg); z-index: 1}
        50% {transform: rotateY($degree) perspective($perspective); z-index: 1}
        100% {transform: rotateY($degree); z-index: -1}
      }
    }
    
    &.Card-Front-Flip {
      animation: front-flip-1 $flip-duration 1 forwards;
      @keyframes front-flip-1 {
        0% {transform: rotateY(-$degree); z-index: -1}
        50% {transform: rotateY(-$degree) perspective($perspective); z-index: -1}
        100% {transform: rotateY(0deg); z-index: 1}
      }
    }
  }
  
  .Card-Back {
    z-index: -1;

    // Animations
    transform: rotateY(-$degree); 
    &.Card-Back-Flip {
      animation: back-flip-2 $flip-duration 1 forwards;
      @keyframes back-flip-2 {
        0% {z-index: -1}
        50% {transform: rotateY(-$degree) perspective($perspective); z-index: -1}
        100% {transform: rotate(0deg); z-index: 1}
      }
    }
    
    &.Card-Front-Flip {
      animation: front-flip-2 $flip-duration 1 forwards;
      @keyframes front-flip-2 {
        0% {transform: rotate(0deg); z-index: 1}
        50% {transform: rotateY($degree) perspective($perspective); z-index: 1}
        100% {transform: rotateY($degree); z-index: -1}
      }
    }
  }
}
