/* ====== VARIALBES ======*/

// ===== Font Sytle

$primaryFontStyle: 'Abril Fatface', cursive;
$secondaryFontStyle: 'Lato', sans-serif;

// ===== Font Colour

$primaryColour: rgb(88, 62, 35);
$secondaryColour: #B0A084;
$thirdColour: rgb(233, 230, 255);
$fourthColour: rgb(19, 38, 47);

// ===== Overlay Colour

$primaryOverlay: rgba(88, 62, 35, .6);
$secondaryOverlay: rgba(19, 38, 47, .9);
$thirdOverlay: rgba(233, 230, 255, .3);