/* ====== VARIALBES ======*/

// ===== Font Sytle

$primaryFontStyle: 'Abril Fatface', cursive;
$secondaryFontStyle: 'Lato', sans-serif;

// ===== Font Colour

$primaryColour: #583E23;
$primaryColour: #B0A084;
$primaryColour: #E9E6FF;
$primaryColour: #13262F;