/* ====== VARIALBES ======*/
.alcoholOption {
  width: 100%;
  margin: 0 auto;
  position: relative;
  background: #13262f;
  transition: all 0.3s cubic-bezier(0.5, 0.2, 0.2, 1.2);
  background: #B0A084;
  box-shadow: 0 -2px 20px #13262f; }
  .alcoholOption label:hover {
    cursor: pointer; }
  .alcoholOption label:hover > h2 {
    color: #583e23; }
  .alcoholOption label h2 {
    font-family: "Abril Fatface", cursive;
    letter-spacing: 1px;
    font-size: 2.5rem;
    letter-spacing: 1px;
    color: #13262f;
    text-shadow: 0 0 0.5px #e9e6ff;
    display: inline-block;
    padding: 10px;
    margin: 0 10px;
    transition: all 0.3s cubic-bezier(0.5, 0.2, 0.2, 1.2);
    /* Landscape phones and down */ }
    @media (max-width: 480px) {
      .alcoholOption label h2 {
        display: block; } }
  .alcoholOption label:last-child {
    margin-right: 0; }
  .alcoholOption label input[type="radio"] {
    display: none; }

#page1 {
  position: fixed;
  top: 100%;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow-y: scroll;
  transition: all 0.5s cubic-bezier(0.5, 0.2, 0.2, 1.2);
  background: linear-gradient(rgba(19, 38, 47, 0.9), rgba(19, 38, 47, 0.9)), url(../../public/assets/coffeeBean1.png) bottom no-repeat;
  background-size: contain;
  background-position: 50%; }
  #page1 div p.introText {
    font-size: 2rem;
    margin: 20px auto;
    color: #e9e6ff;
    /* Portrait tablet and small desktops */
    /* Landscape phone to portrait tablet */
    /* Landscape phones and down */ }
    @media (max-width: 480px) {
      #page1 div p.introText {
        font-size: 2.5rem;
        margin: 10px auto 0; } }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.wrapper {
  width: 80%;
  margin: 0 auto; }

/* ===== COCKTAIL DISPLAY ===== */
.cocktailDisplay {
  list-style: none;
  clear: both;
  width: 80%;
  height: 80vh;
  margin: 20px auto 0;
  padding: 0;
  /* Portrait tablet and small desktops */
  /* Landscape phone to portrait tablet */
  /* Landscape phones and down */ }
  @media (max-width: 940px) {
    .cocktailDisplay {
      width: 85%; } }
  @media (max-width: 768px) {
    .cocktailDisplay {
      top: 20%;
      position: relative;
      top: -90px; } }
  @media (max-width: 480px) {
    .cocktailDisplay {
      width: 95%;
      position: relative;
      top: -140px; } }

.cocktailDisplay li {
  width: calc(33.33% - 20px);
  height: 200px;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
  background: #13262f;
  box-shadow: 0 0 3px #13262f;
  position: relative;
  /* Portrait tablet and small desktops */
  /* Landscape phone to portrait tablet */
  /* Landscape phones and down */ }
  .cocktailDisplay li:nth-child(3n + 0) {
    margin-right: 0; }
  @media (max-width: 940px) {
    .cocktailDisplay li {
      width: calc(33.33% - 10px); } }
  @media (max-width: 768px) {
    .cocktailDisplay li {
      top: 20%;
      width: calc(50% - 20px); }
      .cocktailDisplay li:nth-child(3n + 0) {
        margin-right: 10px; }
      .cocktailDisplay li:nth-child(2n + 0) {
        margin-right: 0px; } }
  @media (max-width: 480px) {
    .cocktailDisplay li {
      width: 100%;
      margin: 10px 0; } }
  .cocktailDisplay li .btnShowInfo {
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    margin: 0;
    padding: 5px 0;
    background: #583e23;
    color: #e9e6ff;
    box-shadow: 0 -1px 3px #13262f;
    text-transform: uppercase;
    border: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    transition: color .3 ease; }
    .cocktailDisplay li .btnShowInfo:hover {
      color: #B0A084; }
  .cocktailDisplay li .cocktailImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: opacity .3s ease;
    box-shadow: 0 0 20px #13262f; }
    .cocktailDisplay li .cocktailImage:hover {
      opacity: .2; }
    .cocktailDisplay li .cocktailImage:hover ~ h2.cocktailName {
      display: block; }
  .cocktailDisplay li h2.cocktailName {
    margin: 0;
    font-size: 2.5rem;
    font-family: #B0A084;
    color: #e9e6ff;
    text-shadow: 0 1px 1px #13262f;
    text-transform: uppercase;
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; }

/* HEADER */
header {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom right, rgba(233, 230, 255, 0.3), rgba(88, 62, 35, 0.6), rgba(19, 38, 47, 0.9)), url(../../public/assets/hero.jpg) center;
  background-size: cover;
  position: relative;
  overflow: hidden; }
  header .companyName {
    background: linear-gradient(to top, rgba(233, 230, 255, 0.3) -10%, rgba(88, 62, 35, 0.6) 90%);
    box-shadow: 0 0.5px 5px #13262f; }
    header .companyName .logo {
      width: 100px;
      float: left;
      margin: 10px 0 0 20px;
      display: block; }
    header .companyName h1 {
      text-align: left;
      letter-spacing: 2px;
      margin: 0;
      padding-top: 20px;
      font-family: "Abril Fatface", cursive;
      letter-spacing: 2px;
      color: #e9e6ff;
      text-shadow: 1px 3px 10px #13262f;
      font-size: 3.5rem; }
    header .companyName p {
      margin: 0;
      padding-bottom: 30px;
      text-align: left;
      font-size: 1.8rem;
      color: #13262f;
      font-weight: bold;
      text-shadow: -1px 3px 10px #e9e6ff; }

.hero div {
  text-align: center; }
  .hero div h1 {
    color: #e9e6ff;
    text-shadow: 1px 3px 10px #13262f;
    font-size: 5rem;
    font-family: "Abril Fatface", cursive;
    letter-spacing: 2px; }
    @media (max-width: 768px) {
      .hero div h1 {
        margin: 20px auto;
        font-size: 4rem; } }
    @media (max-width: 480px) {
      .hero div h1 {
        width: 100%;
        padding: 10px;
        margin: 0;
        background: rgba(88, 62, 35, 0.6); } }
  .hero div p.introText {
    display: block;
    width: 70%;
    margin: 80px auto;
    font-size: 2rem;
    word-spacing: 1.5px;
    line-height: 3.5rem;
    font-family: "Lato", sans-serif;
    color: #e9e6ff;
    text-shadow: 0 2px 2px #13262f;
    /* Landscape phone to portrait tablet */
    /* Landscape phones and down */ }
    @media (max-width: 768px) {
      .hero div p.introText {
        width: 90%;
        margin-top: 0; } }
    @media (max-width: 480px) {
      .hero div p.introText {
        width: 100%;
        padding: 10px;
        margin: 0;
        background: rgba(88, 62, 35, 0.6); } }

label[for='slideIn'] {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  color: #13262f;
  text-shadow: 0 0px 1px #e9e6ff;
  font-size: 3rem;
  font-weight: bold;
  transition: all 0.5s cubic-bezier(0.5, 0.2, 0.2, 1.2); }
  label[for='slideIn']:hover {
    top: 79%;
    text-shadow: 0 0px 10px #e9e6ff; }
  label[for='slideIn'] img {
    max-width: 100%; }

#slideIn {
  display: none; }

#slideIn:checked ~ #page1 {
  top: 15%;
  /* Landscape phone to portrait tablet */ }
  @media (max-width: 768px) {
    #slideIn:checked ~ #page1 {
      top: 25%; } }

#slideIn:checked ~ label[for='slideIn'] {
  top: 5%;
  /* Landscape phone to portrait tablet */ }
  @media (max-width: 768px) {
    #slideIn:checked ~ label[for='slideIn'] {
      top: 19%; } }

.fa-glass {
  color: #e9e6ff;
  text-shadow: 0 2px 2px #13262f;
  font-size: 14px; }

.glassIcon {
  color: #e9e6ff;
  font-size: 20px;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Lato", sans-serif;
  text-shadow: 0 2px 2px #13262f; }

/*! Flickity v1.1.2
http://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
  position: relative; }

.flickity-enabled:focus {
  outline: 0; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%; }

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%; }

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: #fff;
  background: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.flickity-prev-next-button:hover {
  background: #fff; }

.flickity-prev-next-button:focus {
  outline: 0;
  box-shadow: 0 0 0 5px #09F; }

.flickity-prev-next-button:active {
  filter: alpha(opacity=60);
  opacity: .6; }

.flickity-prev-next-button.previous {
  left: 10px; }

.flickity-prev-next-button.next {
  right: 10px; }

.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px; }

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px; }

.flickity-prev-next-button:disabled {
  filter: alpha(opacity=30);
  opacity: .3;
  cursor: auto; }

.flickity-prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%; }

.flickity-prev-next-button .arrow {
  fill: #333; }

.flickity-prev-next-button.no-svg {
  color: #333;
  font-size: 26px; }

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1; }

.flickity-rtl .flickity-page-dots {
  direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  filter: alpha(opacity=25);
  opacity: .25;
  cursor: pointer; }

.flickity-page-dots .dot.is-selected {
  filter: alpha(opacity=100);
  opacity: 1; }

.liquorBottle {
  width: 100%;
  height: 70vh; }

.carousel {
  width: 60%;
  margin: 0 auto; }

.bottleImage {
  width: 100%;
  margin: 0 auto; }

.liquorName {
  text-align: center; }

.popup {
  position: fixed;
  z-index: 30;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5); }

.popup_inner {
  position: absolute;
  left: 30%;
  right: 30%;
  top: 5%;
  bottom: 5%;
  margin: auto;
  background: transparent; }
  @media (max-width: 1040px) {
    .popup_inner {
      left: 25%;
      right: 25%; } }
<<<<<<< HEAD
  @media (max-width: 940px) {
    .popup_inner {
      left: 20%;
      right: 20%; } }
  @media (max-width: 768px) {
    .popup_inner {
      left: 15%;
      right: 15%; } }
  @media (max-width: 480px) {
    .popup_inner {
      left: 10%;
      right: 10%; } }
=======
  @media (max-width: 1000px) {
    .popup_inner {
      left: 20%;
      right: 20%; } }
  @media (max-width: 940px) {
    .popup_inner {
      left: 15%;
      right: 15%; } }
>>>>>>> 60fe49e660d68fe0067cb41cc5271c97a64102b8

.recipe, .liquor {
  width: 70%;
  margin: 0 auto;
  height: 80vh;
  margin-top: 20px;
  background: white;
  border-radius: 10px;
  opacity: 1;
  box-shadow: 0 0 10px #13262f; }

.recipe {
  overflow-y: scroll; }

h2.recipeTitle, h2.liquorName {
  font-family: "Abril Fatface", cursive;
  letter-spacing: 1px;
  font-size: 2.8rem;
  color: #583e23;
  padding: 40px 25px 40px 25px; }
  @media (max-width: 1040px) {
    h2.recipeTitle, h2.liquorName {
      font-size: 2.6rem;
      padding: 30px 20px; } }
  @media (max-width: 940px) {
    h2.recipeTitle, h2.liquorName {
      font-size: 2.3rem;
      padding: 25px 15px; } }
  @media (max-width: 768px) {
    h2.recipeTitle, h2.liquorName {
      font-size: 2.4rem;
      padding: 20px 10px; } }
  @media (max-width: 480px) {
    h2.recipeTitle, h2.liquorName {
      font-size: 2.2rem;
      padding: 15px 5px; } }

h2.liquorName {
  padding: 0;
  margin-bottom: 0;
  font-size: 2.2rem; }
  @media (max-width: 1040px) {
    h2.liquorName {
      font-size: 2rem; } }
  @media (max-width: 940px) {
    h2.liquorName {
      font-size: 1.8rem; } }
  @media (max-width: 768px) {
    h2.liquorName {
      font-size: 1.6rem; } }
  @media (max-width: 480px) {
    h2.liquorName {
      font-size: 1.4rem; } }

.liquorBottle p {
  margin: 10px; }

.closeBtn {
  background: none;
  border: none;
  font-size: 5rem;
  color: white;
  position: absolute;
  z-index: 20;
  top: -25px;
  right: -60px; }
  @media (max-width: 1040px) {
    .closeBtn {
      font-size: 4rem;
      top: -20px;
      right: -40px; } }
  @media (max-width: 940px) {
    .closeBtn {
      font-size: 3rem;
      top: -15px;
      right: -30px; } }
  @media (max-width: 768px) {
    .closeBtn {
      font-size: 2rem;
      top: -10px;
      right: -25px; } }
  @media (max-width: 480px) {
    .closeBtn {
      top: -5px;
      right: -20px; } }

.Card {
  margin: 1rem;
  display: inline-block;
  width: 50%; }
  .Card .Card-Front,
  .Card .Card-Back {
    position: absolute;
    left: 0%;
    right: 0%;
    width: 100%;
    margin: 10px auto;
    text-align: center;
    height: 90vh;
    border-radius: 10px;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.6), rgba(248, 251, 252, 0.9)), url(public/assets/hero.jpg) center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden; }
    .Card .Card-Front p,
    .Card .Card-Back p {
      font-size: 2.2rem;
      font-family: "Lato", sans-serif;
      text-align: center;
      text-decoration: none;
      padding: 0 20px;
      line-height: 1.4; }
      .Card .Card-Front p span.liquorPrice,
      .Card .Card-Back p span.liquorPrice {
        font-weight: bolder; }
      @media (max-width: 1040px) {
        .Card .Card-Front p,
        .Card .Card-Back p {
          font-size: 2rem; } }
      @media (max-width: 940px) {
        .Card .Card-Front p,
        .Card .Card-Back p {
          font-size: 1.6rem;
          padding: 0px 15px; } }
      @media (max-width: 768px) {
        .Card .Card-Front p,
        .Card .Card-Back p {
          font-size: 1.4rem;
          padding: 0px 10px; } }
      @media (max-width: 480px) {
        .Card .Card-Front p,
        .Card .Card-Back p {
          font-size: 1.2rem;
          padding: 0px 5px; } }
  .Card a {
    font-size: 2rem;
    font-family: "Lato", sans-serif;
    color: #583e23;
    text-align: center;
    margin: 10px auto; }
    .Card a:hover {
      color: #bc8b58;
      text-decoration: none; }
    @media (max-width: 1040px) {
      .Card a {
        font-size: 1.8rem; } }
    @media (max-width: 940px) {
      .Card a {
        font-size: 1.6rem; } }
    @media (max-width: 768px) {
      .Card a {
        font-size: 1.4rem; } }
  .Card .viewBtn {
    font-size: 1.6rem;
    font-weight: bold;
    position: absolute;
    bottom: 40px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    width: 70%;
    padding: 10px;
    background: #583e23;
    color: #e9e6ff;
    box-shadow: 0 -1px 3px #13262f;
    text-transform: uppercase;
    border: none;
    transition: color .3 ease; }
    .Card .viewBtn:hover {
      color: #B0A084; }
  .Card .Card-Front {
    z-index: 1; }
    .Card .Card-Front.Card-Back-Flip {
      animation: back-flip-1 0.3s 1 forwards; }

@keyframes back-flip-1 {
  0% {
    transform: rotateY(0deg);
    z-index: 1; }
  50% {
    transform: rotateY(90deg) perspective(15rem);
    z-index: 1; }
  100% {
    transform: rotateY(90deg);
    z-index: -1; } }
    .Card .Card-Front.Card-Front-Flip {
      animation: front-flip-1 0.3s 1 forwards; }

@keyframes front-flip-1 {
  0% {
    transform: rotateY(-90deg);
    z-index: -1; }
  50% {
    transform: rotateY(-90deg) perspective(15rem);
    z-index: -1; }
  100% {
    transform: rotateY(0deg);
    z-index: 1; } }
  .Card .Card-Back {
    z-index: -1;
    transform: rotateY(-90deg); }
    .Card .Card-Back.Card-Back-Flip {
      animation: back-flip-2 0.3s 1 forwards; }

@keyframes back-flip-2 {
  0% {
    z-index: -1; }
  50% {
    transform: rotateY(-90deg) perspective(15rem);
    z-index: -1; }
  100% {
    transform: rotate(0deg);
    z-index: 1; } }
    .Card .Card-Back.Card-Front-Flip {
      animation: front-flip-2 0.3s 1 forwards; }

@keyframes front-flip-2 {
  0% {
    transform: rotate(0deg);
    z-index: 1; }
  50% {
    transform: rotateY(90deg) perspective(15rem);
    z-index: 1; }
  100% {
    transform: rotateY(90deg);
    z-index: -1; } }
